{% extends 'base/container_fluid.html' %}
{% load static %}

{% block main_content %}

<div class="row justify-content-center align-items-center">

<div class="col-lg-6 col-md-6 col-sm-12 text-left">

<h2><b>F</b>requently <b>A</b>sked <b>Q</b>uestions</h2>

<br>

<ol>

  <li>
    <b><i>How do I get the GPS coordinates from Google Maps?</i></b>
    <br>
    Go to <a href="https://www.google.com/maps" target="_blank">www.google.com/maps</a>,
    zoom in on the place you want, then right click, then click on the first thing which is the GPS coordinates.
  </li>
  <br>

  <li>
    <b><i>Can I make URLs from pole codes?</i></b>
    <br>
    Yes. Just put the pole code after <code>https://polemap.ai/</code> in your Browser URL input.
    For example, if the code is <code>U0 I9</code> just put <code>https://polemap.ai/u0i9</code>
  </li>
  <br>

  <li>
    <b><i>Is this connected to any company?</i></b>
    <br>
    It is a service by <a href="https://bitcoin.ai" target="_blank">Bitcoin.ai</a>
    but not involved with anyone else. If you want to
    say thanks, come by and learn about BitCoin blockchain.
    We are located in the Mason Complex at
    <a href="https://polemap.ai/u0i9" target="_blank">U0I9</a>.
  </li>
  <br>

  <li>
    <b><i>Can we use this for mail?</i></b>
    <br>
    We have not spoken with the post office yet but
    think it would be very reasonable to add a dash and the pole code
    at the end of the zip code. So I could use <code>AI2640-U0I9</code>
  </li>
  <br>

</ol>

</div>

</div>

{% endblock %}
